<mjml>
  <mj-body background-color="#ccd3e0" font-size="13px">
    <mj-section background-color="#356cc7" padding-bottom="0px" padding-top="0">
      <mj-column width="100%">
        <mj-text align="center" font-size="13px" color="#ABCDEA" font-family="Ubuntu, Helvetica, Arial, sans-serif" padding-left="25px" padding-right="25px" padding-bottom="18px" padding-top="28px">Your OneStopDispatch
          <p style="font-size:16px; color:white">Quote</p>
        </mj-text>
      </mj-column>
    </mj-section>

    <mj-section background-color="#fff" padding-bottom="20px" padding-top="20px">
      <mj-column>
        <mj-text align="center" font-size="13px" color="#333" font-family="Ubuntu, Helvetica, Arial, sans-serif" padding-left="25px" padding-right="25px" padding-bottom="18px" padding-top="28px">Shipper Information
        </mj-text>

        <mj-table>
          <tr style="border-bottom:1px solid #ecedee;text-align:left;padding:15px 0;">
            <th style="padding: 0 15px 0 0;">Field</th>
            <th style="padding: 0 15px;">Value</th>
          </tr>
          <tr>
            <td style="padding: 0 15px 0 0;">First Name</td>
            <td style="padding: 0 15px;">John</td>
          </tr>
          <tr>
            <td style="padding: 0 15px 0 0;">Last Name</td>
            <td style="padding: 0 15px;">Doe</td>
          </tr>
        </mj-table>
      </mj-column>
    </mj-section>

    <mj-section background-color="#fff" padding-bottom="20px" padding-top="20px">
      <mj-column>
        <mj-text align="center" font-size="13px" color="#333" font-family="Ubuntu, Helvetica, Arial, sans-serif" padding-left="25px" padding-right="25px" padding-bottom="18px" padding-top="28px">Origin Information
        </mj-text>

        <mj-table>
          <tr style="border-bottom:1px solid #ecedee;text-align:left;padding:15px 0;">
            <th style="padding: 0 15px 0 0;">Zip</th>
            <th style="padding: 0 15px;">City</th>
            <th style="padding: 0 15px;">State</th>
          </tr>
          <tr>
            <td style="padding: 0 15px 0 0;">98105</td>
            <td style="padding: 0 15px;">Ice springs</td>
            <td style="padding: 0 15px;">Washington</td>
          </tr>
        </mj-table>
      </mj-column>
    </mj-section>

    <mj-section background-color="#fff" padding-bottom="20px" padding-top="20px">
      <mj-column>
        <mj-text align="center" font-size="13px" color="#333" font-family="Ubuntu, Helvetica, Arial, sans-serif" padding-left="25px" padding-right="25px" padding-bottom="18px" padding-top="28px">Destination Information
        </mj-text>

        <mj-table>
          <tr style="border-bottom:1px solid #ecedee;text-align:left;padding:15px 0;">
            <th style="padding: 0 15px 0 0;">Zip</th>
            <th style="padding: 0 15px;">City</th>
            <th style="padding: 0 15px;">State</th>
          </tr>
          <tr>
            <td style="padding: 0 15px 0 0;">98105</td>
            <td style="padding: 0 15px;">Ice springs</td>
            <td style="padding: 0 15px;">Washington</td>
          </tr>
        </mj-table>
      </mj-column>
    </mj-section>

    <mj-section background-color="#fff" padding-bottom="20px" padding-top="20px">
      <mj-column>
        <mj-text align="center" font-size="13px" color="#333" font-family="Ubuntu, Helvetica, Arial, sans-serif" padding-left="25px" padding-right="25px" padding-bottom="18px" padding-top="28px">Vehicles Information
        </mj-text>

        <mj-table>
          <tr style="border-bottom:1px solid #ecedee;text-align:left;padding:15px 0;">
            <th style="padding: 0 15px 0 0;">Year</th>
            <th style="padding: 0 15px;">Make</th>
            <th style="padding: 0 15px;">Model</th>
            <th style="padding: 0 15px 0 0;">Vin</th>
            <th style="padding: 0 15px;">Is Running</th>
            <th style="padding: 0 15px;">Size</th>
          </tr>
          <tr>
            <td style="padding: 0 15px 0 0;">98105</td>
            <td style="padding: 0 15px;">Ice springs</td>
            <td style="padding: 0 15px;">Washington</td>
            <td style="padding: 0 15px 0 0;">98105</td>
            <td style="padding: 0 15px;">Ice springs</td>
            <td style="padding: 0 15px;">Washington</td>
          </tr>
        </mj-table>
      </mj-column>
    </mj-section>

    <mj-section background-color="#fff" padding-bottom="20px" padding-top="20px">
      <mj-column>
        <mj-text align="center" font-size="13px" color="#333" font-family="Ubuntu, Helvetica, Arial, sans-serif" padding-left="25px" padding-right="25px" padding-bottom="18px" padding-top="28px">Transport Information
        </mj-text>

        <mj-table>
          <tr style="border-bottom:1px solid #ecedee;text-align:left;padding:15px 0;">
            <th style="padding: 0 15px 0 0;">Field</th>
            <th style="padding: 0 15px;">Value</th>
          </tr>
          <tr>
            <td style="padding: 0 15px 0 0;">Carrier Type</td>
            <td style="padding: 0 15px;">Enclosed</td>
          </tr>
          <tr>
            <td style="padding: 0 15px 0 0;">Available </td>
            <td style="padding: 0 15px;">On 2020/10/31</td>
          </tr>
          <tr>
            <td style="padding: 0 15px 0 0;">Delivery</td>
            <td style="padding: 0 15px;">Before 2020/10/27</td>
          </tr>
          <tr>
            <td style="padding: 0 15px 0 0;">Price</td>
            <td style="padding: 0 15px;">95450 $</td>
          </tr>
          <tr>
            <td style="padding: 0 15px 0 0;">Deposit </td>
            <td style="padding: 0 15px;">95450 $</td>
          </tr>
        </mj-table>
      </mj-column>
    </mj-section>

  </mj-body>
</mjml>
